
<div class="row">
  <div class="col-md-4">

    <%= image_tag @user.avatar.url(:original), class: 'user-show' %>

  </div>

  <div class="col-md-8">
    <div class="book-info">
      <h2 class="book-title"><%= @user.first_name%></h2>
      <h2 class="book-title"><%= @user.last_name%></h2>
      <%= link_to 'Back', users_path, class: 'btn-user' %>
    </div>

  </div>

</div>

