<h1>Edit Age</h1>


<%= simple_form_for @age do |f| %>

    <%= f.input :name %>
    <%= link_to 'Cancel', root_path, class: 'btn-cancel' %>
    <%= f.button :submit, :class => 'btn-custom2'%>

<%end%>

