

<% if @age.count == 0 %>

    <h1>There are no ages! </h1>

<% else %>
<div class="row">

  <% @age.each do |age| %>

      <div class="col-md-3">
        <a href="/ages/<%= age.id %>" >
          <%= age.name%>
        </a>
      </div>

  <% end %>

</div>
<% end %>