<% if @category.count == 0 %>

    <h1>There are no categories! </h1>

<% else %>

<div class="row">

  <h1>There are categories: </h1>

  <% @category.each do |category| %>

      <div class = 'category-index'>
        <a href="/categories/<%= category.id %>" >
          <%= category.name%>
        </a>
      </div>

  <% end %>

</div>
<% end %>