<% if @category.count == 0 %>

    <h1>There are no categories! </h1>

<% else %>

<div class="row">

  <% @category.each do |category| %>

      <div class="col-md-3">
        <a href="/categories/<%= category.id %>" >
          <%= category.name%>
        </a>
      </div>

  <% end %>

</div>
<% end %>